body {
    background-image: url("/public/images/333950.png");
    background-position-x: center;
    background-size: 250%;
}

#headerDiv {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 5px solid brown;
    font-family: fantasy;
    font-size: 25pt;
    letter-spacing: 2px;
    word-spacing: 2px;
    color: #000000;
    font-weight: 900;
    font-style: normal;
    font-variant: normal;
    text-transform: none;
}

#dangles {
    position: absolute;
    width: 50%;
    overflow: hidden;
}
#dangles2 {
    position: absolute;
    left: 50%;
    width: 50%;
}

#loginBtn {
    font-size: 16pt;
    background: rgb(177, 177, 177);
    transition-duration: 0.4s;;
}
#loginBtn:hover {
    background-color: rgb(214, 141, 157);
    color: darkblue;
}

.babyPics {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    z-index: 0;
    width: auto;
    height: 300px;
}

.flyIn {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: absolute;
    top: 100px;
    height: 200px;
    width: 100%;
    z-index: 2;
   }

.flyIn .flyInText {    
    /* width: 100%; */
    text-indent: 5%;
    height: 100%;
    margin: 0;
    line-height: 50px;
    font-weight: 600;
    font-size: 50pt;
    font-variant: small-caps;
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    z-index: 2;
    color: rgb(17, 150, 184);
    text-shadow: #000000 0px 1px, #FFF 0 2px 4px, #ff0 0 -2px 8px, #ff8000 0 -8px 16px, red 0 -14px 40px;
/* Apply animation to this element */	
    animation: flyInText 1.1s ease-in;
    }
/* Move it (define the animation) */
@keyframes flyInText {
    0%   { 
    transform: translateX(200%); 		
    }
    100% { 
    transform: translateX(0%); 
    }
    }

.flyIn .flyInText2 {
    text-indent: 25%;
    height: 100%;
    margin: 0;
    line-height: 50px;
    font-weight: 700;
    font-size: 40pt;
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    font-variant: small-caps;
    font-style: italic;
    color: rgb(211, 102, 193);
    text-shadow: #000000 0px 1px, #FFF 0 2px 4px, #ff0 0 -2px 8px, #ff8000 0 -8px 16px, red 0 -14px 40px;
    z-index: 2;
/* Apply animation to this element */	
    animation: flyInText 1s ease-in;
    animation-fill-mode: backwards;
    animation-delay: 1s;
    }
/* Move it (define the animation) */
@keyframes flyInText2 {
    0%   { 
    transform: translateX(200%); 		
    }
    100% { 
    transform: translateX(0%); 
    }
    }
.flyIn .flyInText3 {
    text-indent: 45%;
    height: 100%;
    margin: 0;
    line-height: 50px;
    /* text-align: left;  */
    font-size: 60pt;
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    text-transform: uppercase;
    font-weight: 700;
    text-shadow: #FFF 0 -1px 4px, #ff0 0 -2px 8px, #ff8000 0 -8px 16px, red 0 -14px 40px;
    z-index: 2;
/* Apply animation to this element */	
    animation: flyInText 1.5s normal;
    animation-fill-mode: backwards;
    animation-delay: 2s;
    }
/* Move it (define the animation) */
@keyframes flyInText3 {
    0%   { 
    transform: translateX(200%); 		
    }
    100% { 
    transform: translateX(0%); 
    }
    }

#crawlers {
    height: 150px;
    width: fit-content;
    margin-top: -50px;
    animation: nudge 5s linear infinite alternate;
}
#crawlers2 {
    height: 150px;
    width: fit-content;
    margin-top: -50px;
    animation: nudge 3s linear infinite alternate;
}
@keyframes nudge {
    0%, 100% {
        transform: translate(0,0);
    }
    50% {
        transform: translate(100px, 0);
    }
    80% {
        transform: translate(-100px, 0);
    }
}

.midContent {
    display: flex;
    flex-direction: row;
    position: relative;
    align-items: flex-end;
    justify-content: space-around;
}
#midText {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    font-family: fantasy;
}
#takes {
    font-size: 30pt;
    
}
#beBaby {
    font-size: 50pt;
    margin: 5px;
}

@keyframes fadeIn {
    from {opacity: 0}
    to {opacity: 1}
}

.wordCarousel {
    position: relative;
    display: flex;
    flex-direction: column;
    column-gap: 2em;
    top: 50%;
    font-size: 36px;
    font-weight: 100;
    color: rgb(136, 33, 33);
}
.wordCarousel div {
        overflow: hidden;
        position: relative;
        float: right;
        height: 65px;
        padding-top: 10px;
        margin-top: -10px;
}
       .wordCarousel li {
            font-family: Serif;
            /* color: #eee; */
            font-weight: 700;
            padding: 0 10px;
            height: 45px;
            margin-bottom: 45px;
            display: block;
        }

.flip2 { animation: flip2 6s cubic-bezier(0.23, 1, 0.32, 1.2) infinite; }
.flip3 { animation: flip3 8s cubic-bezier(0.23, 1, 0.32, 1.2) infinite; }
.flip4 { animation: flip4 10s cubic-bezier(0.23, 1, 0.32, 1.2) infinite; }
.flip5 { animation: flip4 12s cubic-bezier(0.23, 1, 0.32, 1.2) infinite; }
.flip6 { animation: flip4 14s cubic-bezier(0.23, 1, 0.32, 1.2) infinite; }

@keyframes flip2 {
    0% { margin-top: -180px; }
    5% { margin-top: -90px;  }
    50% { margin-top: -90px; }
    55% { margin-top: 0px; }
    99.99% { margin-top: 0px; }
    100% { margin-top: -270px; }
}

@keyframes flip3 {
    0% { margin-top: -270px; }
    5% { margin-top: -180px; }
    33% { margin-top: -180px; }
    38% { margin-top: -90px; }
    66% { margin-top: -90px; }
    71% { margin-top: 0px; }
    99.99% { margin-top: 0px; }
    100% { margin-top: -270px; }
}

@keyframes flip4 {
    0% { margin-top: -360px; }
    5% { margin-top: -270px; }
    25% { margin-top: -270px; }
    30% { margin-top: -180px; }
    50% { margin-top: -180px; }
    55% { margin-top: -90px; }
    75% { margin-top: -90px; }
    80% { margin-top: 0px; }
    99.99% { margin-top: 0px; }
    100% { margin-top: -270px; }
}
@keyframes flip5 {
    0% { margin-top: -4500px; }
    5% { margin-top: -360px;  }
    20% { margin-top: -360px; }
    25% { margin-top: -270px; }
    40% { margin-top: -270px; }
    45% { margin-top: -180px; }
    60% { margin-top: -180px; }
    65% { margin-top: -90px; }
    80% { margin-top: -90px; }
    85% { margin-top: 0px; }
    99.99% { margin-top: 0px; }
    100% { margin-top: -270px; }
}
@keyframes flip6 {
    0% { margin-top: -640px; }
    5% { margin-top: -450px;  }
    17% { margin-top: -450px; }
    22% { margin-top: -360px; }
    33% { margin-top: -360px; }
    38% { margin-top: -270px; }
    50% { margin-top: -270px; }
    55% { margin-top: -180px; }
    67% { margin-top: -180px; }
    72% { margin-top: -90px; }
    83% { margin-top: -90px; }
    88% { margin-top: 0px; }
    99.99% { margin-top: 0px; }
    100% { margin-top: -270px; }
}

@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed:300|Oswald);
body,
html {
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

/* body {
    font-family: "Roboto Condensed", cursive;
    display: flex;
    align-items: center;
    justify-content: center;
    background: darkorange; 
    &::after {
        content:"";
        display: block;
        width: 110%;
        height: 125vh;
        background: radial-gradient(#222, #000);
        position: absolute;
        z-index: -1;
        transform: rotate(20deg);
        border-radius: 50%;
    }
} */

#getBabies {
    display: inline;
    justify-content: center;
    top: 55%;
    left: 50%;
}

.babiesContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 10;
}

.babiesCard {
    background-color: rgb(255, 183, 219);
    box-shadow: 0px 0px 4px 4px rgba(0, 0, 0, 0.349);
    width: 200px;
    margin: 20px; 
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-family: Helvetica;
    /* font-size: medium; */
    border-radius: 12px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
.babyPicture {
    height: 70px;
    width: 70px;
    background-blend-mode: color;
}


/* Specificity, zindex to move forward/back. */ 